<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2" />

<section>
    <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce fermentum dignissim nisl a suscipit. Praesent sollicitudin bibendum nisi, non convallis mi pulvinar eu. Morbi scelerisque hendrerit urna ut tristique. Donec rhoncus porttitor velit, blandit mattis metus finibus molestie. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sit amet enim tortor. Praesent sed fringilla erat. Fusce ut sem lobortis, blandit nulla id, accumsan elit. Quisque arcu metus, dignissim vel porta ac, cursus id odio. Pellentesque sagittis auctor eros ut tempor. Mauris non ornare enim, eu efficitur leo. Suspendisse euismod tristique erat, eget tristique metus iaculis in. Etiam vehicula iaculis mi, in ullamcorper velit rutrum sed. Nam magna mi, sagittis in tincidunt at, dignissim eu ipsum. Suspendisse et nisl et diam consectetur convallis a quis eros. Nullam dapibus tellus vulputate metus finibus lacinia.

        Etiam a nibh ut dui sodales placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi vitae pulvinar ex. Mauris a ante consequat, auctor nibh lacinia, vehicula quam. Integer sed mauris ut tellus pretium ullamcorper non at nibh. Nulla in tincidunt dui. Aenean vitae est sed odio interdum suscipit. Fusce ut maximus magna. Phasellus dignissim venenatis semper.
    </p>
</section>
